
			html {
				font-size: 62.5%;
			}
			body {
				font-family: system-ui;
				font-size: inherit;
				max-width: 90rem;
				margin: 2rem auto; 
			}
			a,
			p > a {
				color: cadetblue;
			}
			p {
				font-size: 1.6rem;
			}
			h2 {
				font-size: 2.4rem;
			}
			.about {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
			.about img {
				margin-top: 1rem;
				width: 150px;
				height: 34px;
			}
			.about > * {
				padding: 2rem;
			}
			.about p {
				font-size: 4.4rem;
				font-weight: 700;
				margin-top: 0;
				min-width: 30rem;
				max-width: 60rem;
			}
      article {
        padding-bottom: 2rem;
      }
      article + article {
        border-top: 1px solid #ccc;
      }
			.files {
				display: flex;
				justify-content: end;
			}
			.files > div {
				min-width: 30rem;
				width: 60rem;
				padding: 0 20px 0 20px;
			}
			.files a {
				font-size: 1.8rem;
			}