---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>iApotek</title>
		<link rel="stylesheet" type="text/css" href="index.css">
		<style>
			html {
				font-size: 62.5%;
			}
			body {
				font-family: system-ui;
				font-size: inherit;
				max-width: 90rem;
				margin: 2rem auto; 
			}
			a {
				color: cadetblue;
			}
			p {
				font-size: 1.6rem;
			}
			h2 {
				font-size: 2.4rem;
			}
			.about {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
			.about img {
				margin-top: 1rem;
				width: 150px;
				height: 34px;
			}
			.about > * {
				padding: 2rem;
			}
			.about p {
				font-size: 4.4rem;
				font-weight: 700;
				margin-top: 0;
				min-width: 30rem;
				max-width: 60rem;
			}
			.files {
				display: flex;
				justify-content: end;
			}
			.files > div {
				min-width: 30rem;
				width: 60rem;
				padding: 0 20px 0 20px;
			}
			.files a {
				font-size: 1.8rem;
			}
		</style>
	</head>
	<body>
		<!-- This is the start of the "About" section -->
		<div class="about">
			<img src="https://l.cdn.bequoted.com/2/iapotek-int/logo/">
			<p>iApotek AB bedriver försäljningen genom <a href="https://apotek365.se">apotek365.se</a> samt helägda apoteksbutiken <a href="https://svea-apotek.business.site">Svea Apotek</a>. Beläget vid Stureplan i Stockholm. Apoteket har fullständiga tillstånd från Läkemedelsverket.</p>
		</div>
		
		<!-- This is the start of the projects section -->
		<div class="files">

			<div>
				<div>
					<h2>Inbjudan till nyttjande av teckningsoptioner av serie TO1 i iApotek teckningskurs 0:10 kr per aktie</h2>
					<p>Utnyttjande av TO1 för teckning av aktier i iApotek Int AB till teckningskurs 0:10 kr är nu möjlig. Lösen sker löpande i slutet av varje månad med början den 30 september 2022 och med slutdatum fram till 30 juni 2023. Enligt beslut från extra bolagsstämma den 17 augusti 2022 har teckningskursen för TO1 fastställts till 0:10 kr per aktie.</p>
					<a href="./pdf/Inbjudan till nyttjande av teckningsoptioner av serie TO1 i iApotek_website.pdf">Inbjudan till nyttjande av teckningsoptioner av serie TO1 i iApotek_website.pdf</a>
					
					<a href="https://github.com/musca/iapotek.se/blob/gh-pages/public/pdf/%C3%96versiktlig%20instruktion%20till%20Banken%20dep%C3%A5f%C3%B6rvaltare%20f%C3%B6r%20utnyttjande%20av%20TO1%20iApotek%20Int%20AB.docx?raw=true">Översiktlig instruktion till Banken depåförvaltare för utnyttjande av TO1 iApotek Int AB</a>
					<br><a href="./pdf/Översiktlig instruktion till Banken depåförvaltare för utnyttjande av TO1 iApotek Int AB.docx">.</a>
					<br><br>
					<a href="./pdf/Villkor för TO 1 teckningskurs 0^J10 kr per aktie.pdf">Villkor för TO 1 teckningskurs</a>
				</div>
				<br><br>
				<br><br>
				<a href="./pdf/Kallelse-till-extra-bolagsstämma-iApotek-20220815_ME.pdf">Kallelse till extra bolagsstämma iApotek 20220815_ME.pdf</a><br><br>		
				<a href="./pdf/ÅR 2021 RB signerad.pdf">ÅR 2021 RB signerad.pdf</a><br><br>
				<a href="./pdf/Årsredovisning iApotek 20220511 signerat.pdf">Årsredovisning iApotek 20220511 signerat.pdf</a><br><br>
				<a href="./pdf/FULLMAKTSFORMULÄR iApotek årsstämma 15 juni 2022.pdf">FULLMAKTSFORMULÄR iApotek årsstämma 15 juni 2022.pdf</a><br><br>
				<a href="./pdf/Kallelse-till-arsstamma-iApotek 15 jun 2022.pdf">Kallelse-till-arsstamma-iApotek 15 jun 2022.pdf</a>
			</div>
		</div>
	</body>
</html>