---
import "../styles/globals.css"
const posts = (await Astro.glob('../news/*.md')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>iApotek</title>
	</head>
	<body>
		<div class="about">
			<img src="/logo.png">
			<p>iApotek AB bedriver försäljningen genom <a href="https://apotek365.se">apotek365.se</a> samt helägda apoteksbutiken <a href="https://svea-apotek.business.site">Svea Apotek</a>. Beläget vid Stureplan i Stockholm. Apoteket har fullständiga tillstånd från Läkemedelsverket.</p>
		</div>
		<div class="files">
			<div>
					{posts.map(post => 
						<article>
							<h2>
								<small>{post.frontmatter.pubDate}</small>
								<br>
								{post.frontmatter.title}
							</h2>
							<Fragment set:html={post.compiledContent()}></Fragment>
						</article>
					)}
			</div>
		</div>
	</body>
</html>